@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
  background: #000000;
  font-family: "Plus Jakarta Sans", serif;
  overflow-x: hidden;
}

.mona-sans {
  font-family: "Mona Sans", serif;
}

.ibm {
  font-family: "IBM Plex Mono", serif;;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 2s ease-in-out infinite;
}